<div class="container">

    <div style="display: inline-flex;">
        <img class="logo" src="assets/logo.jpg"  alt="logo">
    </div>

    <!-- <a>
        <img class="logo" src="assets/logo.jpg"  alt="logo">
    </a> -->

         <Menu>

            <a  style="color: black;" (click)="transport()"  routerLinkActive="active">Transport</a>
            <a  style="color: black;" (click)="rent()" routerLinkActive="active">Rent</a>
            <a  style="color: black;" (click)="resources()" routerLinkActive="active">Resources</a>
            <a  style="color: black;" (click)="masonry()" routerLinkActive="active">Masonry</a>

        </Menu>

        <Menu class="rmenu">  

            <a  style="color: black;" href="#" routerLink="Shop" routerLinkActive="active" >Shop</a>
            <a  style="color: black;" routerLink="Login" routerLinkActive="active">Account</a>
            <a  style="color: black;" routerLink="Cart" routerLinkActive="active">Cart</a>
            <!-- <a  style="color: black;" (click)="logout()" routerLinkActive="active">Logout</a> -->
        </Menu>

</div>
